.button {
    height: 50px;
    border-radius:8px;
    font-weight: 500;
    background: #00B090;
    color: #fff;
    padding: 0 32px;

    justify-content: center;
    align-self: center;

    cursor: pointer;
    border: 0;;

    img {
      margin-right: 8px;
    }

    &.outlined {
      background: #fff;
      border: 1px solid #2196F3;
      color: #2196F3;
    }

    &:not(:disabled):hover {
      filter: brightness(0.9)
    }

    &:disabled {
      opacity:0.6;
      cursor: not-allowed;
    }
}